.card-dashboard{

    background-color: var(--main-color);
    width: 50%;
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
    padding: 5px;
    cursor: pointer;

}

.text-card{

    font-size: 25px;
    padding-top: 2%;

}

.btn-add-carros{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

}

.btn-principal{
    color:white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

#att_cliente {
    display: none;
}

#form-atualiza-cliente {
    display: none;
}

.hidden {
    display: none;
}

.hidden.not {
    display: block;
    color: red;
}
.info-dados {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.popup {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    font-size: 17px;
}

.popup.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}
